[submodule "Quelos/vendor/bgfx"]
	path = Quelos/vendor/bgfx
	url = https://Lasovar@github.com/Lasovar/bgfx.git
[submodule "Quelos/vendor/bimg"]
	path = Quelos/vendor/bimg
	url = https://github.com/Lasovar/bimg
[submodule "Quelos/vendor/bx"]
	path = Quelos/vendor/bx
	url = https://Lasovar@github.com/Lasovar/bx
[submodule "Quelos/vendor/GLFW"]
	path = Quelos/vendor/GLFW
	url = https://github.com/Lasovar/glfw.git
[submodule "Quelos/vendor/imgui"]
	path = Quelos/vendor/imgui
	url = https://Lasovar@github.com/Lasovar/imgui.git
	branch = docking
[submodule "Quelos/vendor/glm"]
	path = Quelos/vendor/glm
	url = https://Lasovar@github.com/Lasovar/glm.git
[submodule "Quelos/vendor/flecs"]
	path = Quelos/vendor/flecs
	url = https://github.com/Lasovar/flecs.git
