[submodule "Quelos/vendor/GLFW"]
	path = Quelos/vendor/GLFW
	url = https://github.com/Lasovar/glfw.git
[submodule "Quelos/vendor/imgui"]
	path = Quelos/vendor/imgui
	url = https://github.com/Lasovar/imgui.git
	branch = docking
[submodule "Quelos/vendor/glm"]
	path = Quelos/vendor/glm
	url = https://github.com/Lasovar/glm.git
[submodule "Quelos/vendor/flecs"]
	path = Quelos/vendor/flecs
	url = https://github.com/Lasovar/flecs.git
